:root{
  --background-color: rgb(28, 32, 32);
  --font-color: rgb(255,255,255);
  --element-image: linear-gradient(144deg,#5356FF, #67C6E3 60%,#DFF5FF);
}

body,#background_section,#grey_out_section{
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#background_section{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: -1;
}

.background_circle{
  position:fixed;
  border-radius:50%;
}

@keyframes drop{
  100%{transform: translateY(200vh)}
}

#title_section{
  font-size: 7em;
  clear: both;
  background-image: var(--element-image);
  border-color: black;
  box-shadow: rgba(57, 51, 65, 0.2) 0 15px 30px -5px;
  padding: 25px;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-width: 0.07em;
  border-radius: 0.3em;
  color: var(--font-color);
}

#button_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

#imprint_section{
  margin-top: 10em;
  font-size: 1em;
}
#imprint_section a{
  color: var(--font-color);
}

.buttons{
  background-image: var(--element-image);
  background-size: 200% 100%;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 9em;
  font-size: 2em;
  border-width: 0.0em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 5px rgb(14, 84, 81);
  color: var(--font-color);
  touch-action: manipulation;
  padding: 0;
}

.left_button{
  margin-right: 0.5em;
}

.right_button{
  background-position: 100% 0%;
  margin-left: 0.5em;
}

.buttons div div{
  text-size-adjust: none;
  background-color: var(--background-color);
  border-radius: 0.3em;
  width: 8.8em;
  height: 1.8em;
  transition: 400ms;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}

.buttons div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons:hover div {
  background: none;
}

#join_game_dialog{
  font-weight: 2em;
  font-size: 2em;
  color: var(--font-color);
  background-image: var(--element-image);
  border-radius: 1em;
  margin-top: 2.5em;
  box-shadow: 1em 1em 0.7em rgb(5, 50, 48);
}

.code_digit{
  font-size: 2em;
  max-width: 1em;
  background: none;
  text-align: center;
  border: dotted;
}
.dialog_button{
  margin-top: 4%;
  width: 30%;
  font-size: 1em;
}

#grey_out_section{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--background-color);
  opacity: 0.4;
}
/* Was soll das hier?
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

