body {
  text-align: center;
  font-weight: bold;
}

.background_div{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: -1;
}

.background_circle{
  position:fixed;
  border-radius:50%;
}

@keyframes drop{
  100%{transform: translateY(200vh)}
}
    
.title_div{
  font-size: 7em;
  clear: both;
  border-color: black;
  box-shadow: rgba(57, 51, 65, 0.2) 0 15px 30px -5px;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  border-width: 0.07em;
}

.left_button{
  margin-right: 0.5em;
}

.right_button{
  background-position: 100% 0%;
  margin-left: 0.5em;
}

.rules{
  margin: 0em 10em;
  text-align: left;
  color: var(--font-color);
}

.join_game_dialog{
  font-weight: 2em;
  font-size: 2em;
  color: var(--font-color);
  background-image: var(--element-image);
  border-radius: 1em;
  margin-top: 2.5em;
  box-shadow: 1em 1em 0.7em rgb(5, 50, 48);
}

.code_digit{
  font-size: 2em;
  max-width: 1em;
  background: none;
  text-align: center;
  border: dotted;
}

.dialog_button{
  margin-top: 2em;
  font-size: 1em;
}

.grey_out_div{
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--background-color);
  opacity: 0.4;
}
/* Was soll das hier?
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


