.character{
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1%;
}

.board_div{
    width: 50%;
}

@media (max-width: 768px) {
    .game_and_characters_div {
        flex-direction: column !important;
    }
    .board_div {
        width: 100%;
    }
    .character{
        font-size: 1.7em;
    }
}



.character span{
    align-self: center;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.4em;
    width: 80%;
}

.character .name_input{
    font-size: 1em;
    margin-top: 5%;
    text-align: center;
    background: none;
    border-image: var(--element-image) 30;
    color: var(--font-color);
    width: 90%;
    align-self: center;
}

.character.self .name_input:hover{
    opacity: 0.8;
}

.character .ready_input{
    margin-top: 4%;
    align-self: center;
    color: var(--font-color);
}

.game_and_characters_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table{
    align-content: center;
    background-color: darkslateblue;
    color: darkslateblue;
    width: 100%;
    height: fit-content;
}

.table_field{
    border-style: solid;
    background-color: darkslateblue;
    width: fit-content;
}

@keyframes blink{
    50%{opacity: 0.5;}
}

.status_button{
    align-self: center;
    margin-top: 1em;
}

.lobby_id_div{
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    clear: both;
    border-color: black;
}

.lobby_id_div .code_input{
    background: none;
    border: none;
    font-size: 1em;
    color: var(--font-color);
    max-width: 4em;
}

.lobby_id_div .copy_link{
    margin-top: 0.5em;
    background: none;
    border: none;
    font-size: 1em;
    color: var(--font-color);
    text-decoration: underline;
}

.chip {
  pointer-events: none;
  position: absolute;
  top: 30%;
  left: 48%;
  filter: drop-shadow(12px 11px 30px #000000);
}

svg{
    color: var(--element-image);
}

.background_circle{
    border-radius:50%;
}