.character{
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20%;
}

#game_and_characters_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(174, 217, 215);
}

#table{
    align-content: center;
    background-color: navy;
}

.table_field{
    border-style: solid;
    width: 5em;
    height: 5em;
    background-color: navy;
}

#lobby_id_div{
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
