:root{
    --background-color: rgb(28, 32, 32);
    --font-color: rgb(255,255,255);
    --element-image: linear-gradient(144deg,#5356FF, #67C6E3 60%,#DFF5FF);
}

body,#background_section{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);

}

.character{
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1%;
}

.character span{
    align-self: center;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.4em;
    width: 80%;
    text-align: center;
    background-image: var(--element-image);
    padding: 1%;
    border-radius: 0.5em;
    color: var(--font-color);
}
.character .name_input{
    font-size: 1em;
    margin-top: 5%;
    text-align: center;
    background: none;
    border-image: var(--element-image) 30;
    color: var(--font-color);
    width: 90%;
    align-self: center;
}
.character.self .name_input:hover{
    opacity: 0.8;
}
.character .ready_input{
    margin-top: 4%;
    align-self: center;
    color: var(--font-color);
}

#game_and_characters_section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#table{
    align-content: center;
    background-color: navy;
}

.table_field{
    border-style: solid;
    width: 5em;
    height: 5em;
    background-color: navy;
}


.buttons{
    background-image: var(--element-image);
    background-size: 200% 100%;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 9em;
    font-size: 2em;
    border-width: 0.0em;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 5px rgb(14, 84, 81);
    color: var(--font-color);
    touch-action: manipulation;
    padding: 0;
}
    
.buttons div div{
    text-size-adjust: none;
    background-color: var(--background-color);
    border-radius: 0.3em;
    height: 1.8em;
    transition: 400ms;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    white-space:nowrap;
    overflow:hidden;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
  
.buttons div{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.buttons:hover div {
    background: none;
}

.buttons{
    align-self: center;
    width: fit-content;
}

@keyframes blink{
    50%{opacity: 0.5;}
}

#lobby_id_section{
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    clear: both;
    background-image: var(--element-image);
    border-color: black;
    padding: 25px;
    border-radius: 0.5em;
    color: var(--font-color);
}
#lobby_id_section .code_input{
    background: none;
    border: none;
    font-size: 1em;
    color: var(--font-color);
    max-width: 4em;
}
#lobby_id_section .copy_link{
    margin-top: 0.5em;
    background: none;
    border: none;
    font-size: 1em;
    color: var(--font-color);
    text-decoration: underline;
}

#chip {
  pointer-events: none;
  position: absolute;
  top: 30%;
  left: 48%;
  filter: drop-shadow(12px 11px 30px #000000);
}
