body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(174, 217, 215);
}

#main_title{
    font-size: 7em;
    clear: both;
    background-color: lightseagreen;
    padding: 25px;
    margin-bottom: 0.2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-width: 0.2em;
    border-radius: 0.3em;
}

#button_container{
    display: flex;
}

#join_game{
    flex: 0 0 65%;
    margin-left: 0.5em
}

#create_game{
    flex: 1;
}

#impressum{
    margin-top: 10em;
    font-size: 0.7em;
}

.start_buttons{
    font-size: 2em;
    background-color: lightseagreen;
    border-color: rgb(138, 214, 199);
    border-width: 0.2em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 5px rgb(14, 84, 81);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#join_game_dialog{
    font-weight: normal;
    background-color: rgb(172, 232, 229);
    border-radius: 1em;
    margin-top: 2.5em;
    box-shadow: 1em 1em 0.7em rgb(5, 50, 48);
}

.code_digit{
    max-width: 1em;
}