<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Vierer-Fieber</title>
        <link rel="stylesheet" href="/static/root.css">
        <style>
            a{
                color: var(--font-color);
            }
        </style>
        <meta charset="UTF-8">
    </head>
    <body class="plain_text">
        <h1>Impressum</h1></section>
        <section><h2>Anbieter</h2><p>Florian Zürner<br />Waldstraße 85<br />76133 Karlsruhe</p></section>
        <section><h2>Kontakt</h2><p><a href="tel:+4915172628026">Telefon: +4915172628026</a><br /><a href="mailto:florian.zuerner@gmail.com">E-Mail: florian.zuerner@gmail.com</a><br />Website: fzuerner.com</p></section>
    </body>
</html>
