<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/welcome.css">
    <title>Vierer-Fieber</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <script>
      function createGame() {
        document.location.href = "/lobby";
      }

      function joinGame() {
        document.querySelector("#join_game_dialog").setAttribute("open", "open");
      }

      function focusInput(actual, next) {
        if(/[^0-9]/g.test(actual.value)){
          actual.value=actual.value.replace(/[^0-9]/g,'');
        }
        else{
          document.querySelector(next).focus();
        }
      }

      function closeDialog() {
        document.querySelector("#join_game_dialog").close()
      }

      function submitDialog(actual) {
        if(/[^0-9]/g.test(actual.value)){
          actual.value=actual.value.replace(/[^0-9]/g,'');
        }
          else{
          const dialogForm = document.querySelector('#lobbyForm');
          if (dialogForm.checkValidity())
            dialogForm.submit()
        }
      }
    </script>

    <div id="main_title">Vierer-Fieber</div>
    <div id="button_section">
      <input type="button" class="start_buttons" onclick="createGame()" id="create_game" value="Spiel erstellen">
      <input type="button" class="start_buttons" onclick="joinGame()" id="join_game" value="Spiel beitreten">
    </div>
    <a id="impressum" href="/templates/impressum.html">Impressum</a>

    <dialog id="join_game_dialog">
      <p>Lobby Code:</p>
      <form method="post" action="lobby.html" id="lobbyForm">
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num0"
          
          id="num0"
          autocomplete="off"
          oninput="focusInput(this,'#num1')"
          autofocus
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num1"
          id="num1"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this,'#num2')"
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num2"
          id="num2"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this,'#num3')"
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num3"
          id="num3"
          min="0"
          max="9"
          autocomplete="off"
          oninput="submitDialog(this)"
        />
        <button type="button" onclick="closeDialog()">Schließen</button>
        <input type="submit" />
      </form>
    </dialog>


    <script>
      const socket = io(); //socketio connection to server//
      $(document).ready(function() {
      });
      socket.on("connect", () => {
      console.log("connected");
            document.getElementById("header").innerHTML = "<h3>" + "Websocket Connected" + "</h3";
      });

      socket.on("disconnect", () => {
      console.log("disconnected");
            document.getElementById("header").innerHTML = "<h3>" + "Websocket Disconnected" + "</h3>";
      });

      function myupdate() {
      //Event sent by Client
      socket.emit("my_event", function() {
      });
      }

      // Event sent by Server//
      socket.on("server", function(msg) {
            let myvar = JSON.parse(msg.data1);
            //Check if entire data is sent by server//
            if (myvar == "4") {
                    document.getElementById("demo").innerHTML = "";
                    document.querySelector('#checkbutton').innerText = "Submit";
                    document.getElementById("checkbutton").style.cursor = "pointer";
                    document.getElementById("checkbutton").disabled = false;
                    document.getElementById("checkbutton").className = "btn btn-primary";

            }

            else {
                    document.getElementById("demo").innerHTML += msg.data + "<br>";
                    document.getElementById("checkbutton").disabled = true;
                    document.getElementById("checkbutton").innerHTML = "Loading..";
                    document.getElementById("checkbutton").style.cursor = "not-allowed";
                    document.getElementById("checkbutton").style.pointerEvents = "auto";
            }
      });

    </script>
  </body>
</html>
