<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/index.css">
    <title>Vierer-Fieber</title>
  </head>
  <body>
    <div id="title_section">Vierer-Fieber</div>
    <div id="button_section">      
      <button class="buttons left_button"  role="button" id="create_game" ><div><div onclick="createGame()" id="create_game">Spiel erstellen</div></div></button>
      <button class="buttons right_button"  role="button" id="join_game" ><div><div onclick="joinGame()" id="join_game">Spiel beitreten</div></div></button>
    </div>
    <div id="imprint_section">
      <a href="#" onclick="prompt('Hallo Welt')">Impressum</a>
    </div>
    <dialog id="join_game_dialog">
      <p>Lobby Code:</p>
      <form method="post" action="lobby" id="lobbyForm">
        <input type="text" name="code" id="code" value="0000" hidden>
        <input
          required
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          id="num0"
          autocomplete="off"
          oninput="focusInput(this, 0)"
          autofocus
        />
        <input
          required
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          id="num1"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this, 1)"
        />
        <input
          required
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          id="num2"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this, 2)"
        />
        <input
          required
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          id="num3"
          min="0"
          max="9"
          autocomplete="off"
          oninput="submitDialog(this, 3)"
        />
        <br>
        <button class="buttons left_button dialog_button"  type="button"><div><div onclick="closeDialog()">Schließen</div></div></button>
        <button class="buttons right_button dialog_button"  type="button"><div><div onclick="submitDialog(document.querySelector('#num3', 3))" >Beitreten</div></div></button>

      </form>
    </dialog>
    <div id="grey_out_section" hidden></div>
    <div id="background_section"></div>

    <script src="/static/index.js" ></script>
    
  </body>
</html>
