<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/welcome.css">
    <title>Vierer-Fieber</title>
    <script src="/static/welcome.js" ></script>
  </head>
  <body>

    <div id="main_title">Vierer-Fieber</div>
    <div id="button_section">
      <input type="button" class="start_buttons" onclick="createGame()" id="create_game" value="Spiel erstellen">
      <input type="button" class="start_buttons" onclick="joinGame()" id="join_game" value="Spiel beitreten">
    </div>
    <a id="impressum" href="/templates/impressum.html">Impressum</a>

    <dialog id="join_game_dialog">
      <p>Lobby Code:</p>
      <form method="get" action="lobby" id="lobbyForm">
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num0"
          
          id="num0"
          autocomplete="off"
          oninput="focusInput(this,'#num1')"
          autofocus
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num1"
          id="num1"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this,'#num2')"
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num2"
          id="num2"
          min="0"
          max="9"
          autocomplete="off"
          oninput="focusInput(this,'#num3')"
        />
        <input
          class="code_digit"
          type="text"
          inputtype="numeric"
          maxlength="1"
          name="num3"
          id="num3"
          min="0"
          max="9"
          autocomplete="off"
          oninput="submitDialog(this)"
        />
        <button type="button" onclick="closeDialog()">Schließen</button>
        <input type="submit" />
      </form>
    </dialog>


  </body>
</html>
