<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Vierer-Fieber</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/lobby.css">
    </head>
    <body>
        <div class="character" id="own_character">
            <input type="text" value="AnonymesZebra">
            <div>
                <input type="checkbox" name="ready">
                <label for="ready">Bereit!</label><br>
            </div>
        </div>
        <table id="board"></table>
        <div class="character" id="opponent_character">
            <label>Warte auf Gegner...</label>
        </div>
    </body>
    <script>
      function readyForGame() {

        //namen auslesen
        const nameInput = document.querySelector("#name");
        nameInput.setAttribute("disabled", "disabled");

        console.debug(nameInput.value);
      }
      function createTable(){
        table = document.querySelector("#board");
        for (let i = 0; i < 6; i++) {
          const tr = table.insertRow();
          for (let j = 0; j < 7; j++) {
            const td = tr.insertCell();
            td.setAttribute("onclick","clickCell("+i+")");
          }
        }
      }
    </script>
</html>