<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Vierer-Fieber</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/lobby.css">
    </head>
    <body>
        <div id="lobby_id_div">
            <span>Lobby-Code: </span>
            <input type="text" id="code_input" disabled value="{code}">
        </div>
        <div id="game_and_characters_div">
            <div class="character" id="own_character">
                <input type="text" value="AnonymesZebra" id="own_character_name">
                <div>
                    <input type="checkbox" id="ready" onclick="readyForGame()">
                    <label for="ready">Bereit!</label><br>
                </div>
            </div>
            <div id="board_div">
                <dialog id="join_game_dialog">
                    <form method="dialog">
                        <h1 id="message"></h1>
                    </form>
                </dialog>
                <table id="board"></table>
            </div>
            <div class="character" id="opponent_character">
                <input type="text" value="Warte auf Gegner..." id="opponent_character_name" disabled>
                <div>
                    <input type="checkbox" id="opponent_ready" disabled>
                    <label for="opponent_ready"><i>Bereit</i></label>        
                </div>
            </div>
        </div>


    <script src="/static/lobby.js"></script>
    </body>
</html>