<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Vierer-Fieber</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/root.css">
        <link rel="stylesheet" href="/static/lobby.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <div id="lobby_id_div" class="lobby_id_div text">
            <span>Lobby-Code: </span>
            <input type="text" class="code_input" id="code_input" disabled value="{code}"><br>
            <input type="button" class="copy_link" onclick="clipboardInvitation()" value="Einladungslink kopieren">
        </div>
        <div id="game_and_characters_div" class="game_and_characters_div">
            <div class="character self">
                <span class="text">Du</span>
                <input class="name_input" onchange="updateName()" maxlength="16" type="text" placeholder="Name" value="" id="own_character_name">
                <div class="ready_input">
                    <input class="ready" type="checkbox" id="ready" onclick="readyForGame()">
                    <label for="ready">Bereit!</label><br>
                </div>
            </div>
            <div id="board_div">
                <table id="table" class="table"></table>
            </div>
            <div class="character opponent">
                <span class="text">Gegner</span>
                <input class="name_input" type="text" value="Warte auf Gegner..." id="opponent_character_name" disabled>
                <div class="ready_input">
                    <input type="checkbox" id="opponent_ready" disabled>
                    <label for="opponent_ready"><i>Bereit</i></label>        
                </div>
            </div>
        </div>
        <button class="button status_button"  id="status_button">Spiel beitreten</button>

        <svg id="chip" class="chip" height="100" width="100" visibility="hidden"></svg>
        <script src="/static/lobby.js"></script>
    </body>
</html>
