<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Vierer-Fieber</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/welcome.css">
    </head>
    <body>
        <div id="main_title">Vierer-Fieber</div>
        <div id="button_section">
            <input class="start_buttons" type="button" id="create_game" value="Spiel erstellen">
            <input class="start_buttons" type="button" id="join_game" value="Spiel beitreten">
        </div>
        <a id="impressum" href="/templates/impressum.html">Impressum</a>
    </body>
</html>